My workflow 4.json
{
  "name": "My workflow 4",
  "nodes": [
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.4,
      "position": [
        -160,
        -16
      ],
      "id": "c6f0cc95-e9b2-43d6-a691-9d675d8f0da1",
      "name": "When chat message received",
      "webhookId": "d41b2156-66cb-4fcc-aabe-62ee683832e5"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4.1-mini",
          "mode": "list",
          "cachedResultName": "gpt-4.1-mini"
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        -112,
        224
      ],
      "id": "58b93e39-a4fe-4f79-8c51-4eb0d61d8879",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "1akvaFPRBpWfqnXn",
          "name": "OpenAi account 2"
        }
      }
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        32,
        224
      ],
      "id": "8be42dde-c380-46f7-96a1-20e801ec44c6",
      "name": "Simple Memory"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "e40571b9-6ae8-4cc0-b057-d2a9e61fe7bb",
              "name": "output",
              "value": "={{ $json.output }}",
              "type": "string"
            },
            {
              "id": "282f378b-f685-4013-9cd5-5ec95926ca27",
              "name": "output",
              "value": "={{ $json.output }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        688,
        0
      ],
      "id": "9d9daf09-2358-403e-a4dd-6aea57643936",
      "name": "output"
    },
    {
      "parameters": {
        "sendTo": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('To', ``, 'string') }}",
        "subject": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Subject', ``, 'string') }}",
        "message": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Message', ``, 'string') }}",
        "options": {}
      },
      "type": "n8n-nodes-base.gmailTool",
      "typeVersion": 2.1,
      "position": [
        384,
        256
      ],
      "id": "a6443600-6bf9-40f4-b2db-2feb7089f52b",
      "name": "Send a message in Gmail",
      "webhookId": "0d816d29-5fa9-4d57-977a-e26c53cfea6e",
      "credentials": {
        "gmailOAuth2": {
          "id": "rQwbnedtVSZ4I0RS",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "options": {
          "systemMessage": "You are a helpful assistant"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3,
      "position": [
        48,
        -16
      ],
      "id": "1da9db22-32cd-4d87-9ad4-fbe5dad549e1",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1mznDoPbDpUd5s82CY07KJbaTBwl5IEIIAKs7zEBGv50",
          "mode": "list",
          "cachedResultName": "customDatabase",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1mznDoPbDpUd5s82CY07KJbaTBwl5IEIIAKs7zEBGv50/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1mznDoPbDpUd5s82CY07KJbaTBwl5IEIIAKs7zEBGv50/edit#gid=0"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheetsTool",
      "typeVersion": 4.7,
      "position": [
        192,
        192
      ],
      "id": "8dc0b31b-3798-4eaa-8cf9-55ead969fae8",
      "name": "Get row(s) in sheet in Google Sheets",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "chTyC1oJOIL3I1fG",
          "name": "Google Sheets account 3"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "When chat message received": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Send a message in Gmail": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "output",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get row(s) in sheet in Google Sheets": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "32b0e657-2954-4e34-ae50-e8432ff7569f",
  "meta": {
    "instanceId": "2f489320e31a47f986ab033a421f2c7c432d36b123b1a0cda918d2ba624e876f"
  },
  "id": "sPbkhcshl83upD24",
  "tags": []
}